:root {
  --common-white: #ffffff;
  --common-black: #000000;
  --common-font: Montserrat, Helvetica, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.5px;
}

.sub-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.5px;
}
.text {
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  list-style: none;
}

@media (min-width: 768px) {
  .sub-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.5px;
  }
}
